/app/bootstrap.php.cache
/app/cache/*
/app/data/*
/app/config/config.local.yml
/app/config/parameters.yml
/app/config/phpcr.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/build/
/composer.phar
/jackrabbit
/uploads/*
/uploads/media/*
/vendor/
/web/bundles/
/web/css
/web/js
/web/uploads/media/*
/web/admin/translations/*
!/web/admin/translations/.gitkeep

# IDEs
.idea/*
*.iml
*~

# System files
.DS_Store

# webspaces
/app/Resources/webspaces/*
!/app/Resources/webspaces/*.dist

# pages
/app/Resources/pages/*
!/app/Resources/pages/*.dist

# snippets
/app/Resources/snippets/*
!/app/Resources/snippets/*.dist

# old structure files
/app/Resources/templates/*

# Behat local file
behat.yml
