/web/bundles/
/web/js
/app/bootstrap.php.cache
/app/admin/cache/*
/app/Resources/config/parameters.yml
/app/admin/logs/*
/app/website/cache/*
/app/website/logs/*
/uploads/sulumedia/*
/build/
/vendor/
/bin/
/composer.phar
/jackrabbit
/app/Resources/config/phpcr.yml

# IDEs
.idea/*
*.iml

# System files
.DS_Store


# webspaces
/app/Resources/webspaces/*
!/app/Resources/webspaces/*.dist

# templates
/app/Resources/templates/*
!/app/Resources/templates/*.dist
