<?xml version="1.0" ?>

<template xmlns="http://schemas.sulu.io/template/template"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://schemas.sulu.io/template/template http://schemas.sulu.io/template/template-1.0.xsd">

    <key>complex</key>

    <view>ClientWebsiteBundle:templates:complex</view>
    <controller>SuluWebsiteBundle:Default:index</controller>
    <cacheLifetime>2400</cacheLifetime>

    <meta>
        <title lang="de">Komplex</title>
        <title lang="en">Complex</title>
    </meta>

    <index name="content" />

    <properties>
        <property name="title" type="text_line" mandatory="true">
            <meta>
                <title lang="de">Titel</title>
                <title lang="en">Title</title>
            </meta>

            <indexField />

            <tag name="sulu.node.name"/>
            <tag name="sulu.rlp.part"/>
        </property>
        <property name="url" type="resource_locator" mandatory="true">
            <meta>
                <title lang="de">Adresse</title>
                <title lang="en">Resourcelocator</title>
            </meta>

            <indexField />

            <tag name="sulu.rlp"/>
        </property>

        <section name="content">
            <meta>
                <title lang="de">Inhalt</title>
                <title lang="en">Content</title>

                <info_text lang="de">Bereich für den Inhalt</info_text>
                <info_text lang="en">Content Section</info_text>
            </meta>
            <properties>
                <property name="article" type="text_editor" mandatory="true">
                    <meta>
                        <title lang="de">Artikel</title>
                        <title lang="en">Article</title>
                    </meta>

                    <indexField />
                </property>

                <block name="block"
                       default-type="editor"
                       minOccurs="2"
                       maxOccurs="10"
                       mandatory="true">
                    <meta>
                        <title lang="de">Block</title>
                        <title lang="en">Block</title>
                    </meta>
                    <types>
                        <type name="editor">
                            <meta>
                                <title lang="de">Texteditor</title>
                                <title lang="en">Text editor</title>
                            </meta>
                            <properties>
                                <property name="title" type="text_line" mandatory="true">
                                    <meta>
                                        <title lang="de">Titel</title>
                                        <title lang="en">Title</title>
                                    </meta>

                                    <indexField />
                                </property>
                                <property name="article" type="text_editor"
                                          mandatory="true">
                                    <meta>
                                        <title lang="de">Artikel</title>
                                        <title lang="en">Article</title>
                                    </meta>

                                    <indexField />
                                </property>
                            </properties>
                        </type>
                        <type name="textarea">
                            <meta>
                                <title lang="de">Texteingabe</title>
                                <title lang="en">Text area</title>
                            </meta>
                            <properties>
                                <property name="title" type="text_line" mandatory="true">
                                    <meta>
                                        <title lang="de">Titel</title>
                                        <title lang="en">Title</title>
                                    </meta>

                                    <indexField />
                                </property>
                                <property name="article" type="text_area" mandatory="true">
                                    <meta>
                                        <title lang="de">Artikel</title>
                                        <title lang="en">Article</title>
                                    </meta>

                                    <indexField />
                                </property>
                            </properties>
                        </type>
                        <type name="title_only">
                            <meta>
                                <title lang="de">Nur Titel</title>
                                <title lang="en">Title Only</title>
                            </meta>
                            <properties>
                                <property name="title" type="text_line" mandatory="true">
                                    <meta>
                                        <title lang="de">Titel</title>
                                        <title lang="en">Title</title>
                                    </meta>

                                    <indexField />
                                </property>
                            </properties>
                        </type>
                    </types>
                </block>

                <property name="name" type="text_line" mandatory="false" minOccurs="2" maxOccurs="5">
                    <meta>
                        <title lang="de">Name</title>
                        <title lang="en">Name</title>
                    </meta>

                    <indexField />
                </property>
            </properties>
        </section>
    </properties>
</template>
