<?xml version="1.0" ?>

<template xmlns="http://schemas.sulu.io/template/template"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://schemas.sulu.io/template/template http://schemas.sulu.io/template/template-1.0.xsd">

    <key>complex</key>

    <view>ClientWebsiteBundle:templates:complex.html.twig</view>
    <controller>SuluWebsiteBundle:Default:index</controller>
    <cacheLifetime>2400</cacheLifetime>

    <properties>
        <property name="title" title="sulu.property.title" type="text_line" mandatory="true">
            <tag name="sulu.node.name"/>
            <tag name="sulu.rlp.part"/>
        </property>
        <property name="url" title="sulu.property.url" type="resource_locator" mandatory="true">
            <tag name="sulu.rlp"/>
        </property>
        <property name="article" title="sulu.property.article" type="text_editor" mandatory="true"/>

        <property name="name" type="text_line" mandatory="false" minOccurs="2" maxOccurs="5"/>

        <block name="block"
               title="sulu.property.block"
               default-type="editor"
               minOccurs="2"
               maxOccurs="10"
               mandatory="true">
            <types>
                <type name="editor" title="type.editor">
                    <properties>
                        <property name="title" title="sulu.property.block.title" type="text_line" mandatory="true"/>
                        <property name="article" title="sulu.property.block.article" type="text_editor"
                                  mandatory="true"/>
                    </properties>
                </type>
                <type name="textarea" title="type.area">
                    <properties>
                        <property name="title" title="sulu.property.block.title" type="text_line" mandatory="true"/>
                        <property name="article" title="sulu.property.block.article" type="text_area" mandatory="true"/>
                    </properties>
                </type>
                <type name="title_only" title="type.title_only">
                    <properties>
                        <property name="title" title="sulu.property.block.title" type="text_line" mandatory="true"/>
                    </properties>
                </type>
            </types>
        </block>
    </properties>
</template>
