<?xml version="1.0" ?>

<template xmlns="http://schemas.sulu.io/template/template"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://schemas.sulu.io/template/template http://schemas.sulu.io/template/template-1.0.xsd">

    <key>example</key>

    <view>ClientWebsiteBundle:Website:example.html.twig</view>
    <controller>SuluWebsiteBundle:Default:index</controller>
    <cacheLifetime>2400</cacheLifetime>

    <properties>
        <property name="title" title="sulu.property.title" type="text_line" mandatory="true">
            <tag name="sulu.node.name"/>
            <tag name="sulu.rlp.part"/>
        </property>
        <property name="note" title="sulu.property.note" type="text_area" mandatory="true"/>
        <property name="url" title="sulu.property.url" type="resource_locator" mandatory="true">
            <tag name="sulu.rlp"/>
        </property>
        <property name="article" title="sulu.property.article" type="text_editor" mandatory="true"/>
        <property name="tags" title="sulu.property.tags" type="tag_list"/>
        <property name="smartcontent" title="sulu.property.smartcontent" type="smart_content"/>
        <property name="article" title="sulu.property.article" type="text_editor"/>
        <property name="phone" title="sulu.property.phone" type="phone" mandatory="true"/>
        <property name="password" title="sulu.property.password" type="password" mandatory="false"/>
        <property name="link" title="sulu.property.link" type="url" mandatory="true"/>
        <property name="email" title="sulu.property.email" type="email" mandatory="false"/>
        <property name="color" title="sulu.property.color" type="color" mandatory="true"/>
        <property name="date" title="sulu.property.date" type="date" mandatory="false"/>
        <property name="time" title="sulu.property.time" type="time" mandatory="true"/>

        <block name="block"
               title="sulu.property.block"
               default-type="editor"
               minOccurs="2"
               maxOccurs="10"
               mandatory="true">
            <types>
                <type name="editor" title="type.editor">
                    <properties>
                        <property name="title" title="sulu.property.block.title" type="text_line" mandatory="true"/>
                        <property name="article" title="sulu.property.block.article" type="text_editor"
                                  mandatory="true"/>
                    </properties>
                </type>
                <type name="textarea" title="type.area">
                    <properties>
                        <property name="title" title="sulu.property.block.title" type="text_line" mandatory="true"/>
                        <property name="article" title="sulu.property.block.article" type="text_area" mandatory="true"/>
                    </properties>
                </type>
                <type name="title_only" title="type.title_only">
                    <properties>
                        <property name="title" title="sulu.property.block.title" type="text_line" mandatory="true"/>
                    </properties>
                </type>
            </types>
        </block>

    </properties>
</template>
