<?xml version="1.0" ?>

<template xmlns="http://schemas.sulu.io/template/template"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://schemas.sulu.io/template/template http://schemas.sulu.io/template/template-1.0.xsd">

    <key>overview</key>

    <view>ClientWebsiteBundle:Website:overview.html.twig</view>
    <controller>SuluWebsiteBundle:Default:index</controller>
    <cacheLifetime>2400</cacheLifetime>

    <properties>
        <property name="title" title="sulu.property.title" type="text_line" mandatory="true">
            <tag name="sulu.node.name"/>
            <tag name="sulu.rlp.part"/>
        </property>
        <property name="url" title="sulu.property.url" type="resource_locator" mandatory="true">
            <tag name="sulu.rlp.input"/>
        </property>
        <property name="tags" title="sulu.property.tags" type="tag_list"/>
        <property name="smartcontent" title="sulu.property.smartcontent" type="smart_content"/>
        <property name="article" title="sulu.property.article" type="text_editor"/>
    </properties>
</template>
