{% extends "ClientWebsiteBundle:Website:master.html.twig" %}

{% block title %}{{ content.title }}{% endblock %}

{% block content %}
    <h1 property="title">{{ content.title }}</h1>
    <p>That`s a simple theme!</p>
{% endblock %}
