{% extends "ClientWebsiteBundle:Website:master.html.twig" %}

{% block title %} Resource not found {% endblock %}

{% block content %}
<h1>Resource not found</h1>
<p>The path <em>{{ path }}</em> does not exist.</p>
{% endblock %}
