{% extends "ClientWebsiteBundle:Website:master.html.twig" %}

{% block title %} Resource nicht gefunden {% endblock %}

{% block content %}
<h1>Resource nicht gefunden</h1>
<p>Der Pfad <em>{{ path }}</em> existiert nicht.</p>
{% endblock %}
