<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} {% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bundles/clientwebsite/css/style.css') }}"/>
    </head>
    <body>
        <div id="container">
            <div id="header">
                <h1>Header</h1>
            </div>
            <div id="outer" class="clearfix">
                <div id="navigation">
                    <h3><a href="/">Navigation</a></h3>
                    <ul>
                        {% if navigation is defined %}
                            {% for item in navigation %}
                                <li><a href="{{ item.url }}" title="{{ item.title }}">{{ item.content }}</a></li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                <div id="content" vocab="http://schema.org/" typeof="Content">
                    {% block content %}{% endblock %}
                </div>
            </div>
            <div id="footer">
                &copy; 2014: Massiveart
            </div>
        </div>
    </body>
</html>
