{% extends "ClientWebsiteBundle:Website:master.html.twig" %}

{% block title %}{{ content.title }}{% endblock %}

{% block content %}
    <h1>{{ content.title }}</h1>
    <p>{{ content.article }}</p>
    {% autoescape false %}
    <p>{{ content.texteditor }}</p>
    {% endautoescape %}
{% endblock %}
