{% extends "ClientWebsiteBundle:views:master.html.twig" %}

{% block title %}Error {{ status_code }}{% endblock %}

{% block content %}
<h1>Error {{ status_code }}</h1>
<p>{{ status_text }}</p>
{% endblock %}
