{% extends "ClientWebsiteBundle:views:master.html.twig" %}

{% block title %}Error {{ statusCode }}{% endblock %}

{% block content %}
    <h1>Error {{ statusCode }}: {{ statusText }}</h1>

    <p>{{ exception.message }}</p>
{% endblock %}
