<ul class="nav nav-justified">
    {% for item in root_navigation(content, 1, false, 'main') %}
        <li>
            <a href="{{ content_path(item) }}" title="{{ item.title }}">{{ item.title }}</a>
        </li>
    {% endfor %}
</ul>
