<ul class="nav nav-justified">
    {% for item in navigation %}
        <li>
            <a href="{{ content_path(item) }}" title="{{ item.title }}">{{ item.title }}</a>
        </li>
    {% endfor %}
</ul>
