<?xml version="1.0" ?>
<template xmlns="http://schemas.sulu.io/template/template"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://schemas.sulu.io/template/template http://schemas.sulu.io/template/template-1.0.xsd">

    <key>example</key>

    <view>ClientWebsiteBundle:templates:example</view>
    <controller>SuluWebsiteBundle:Default:index</controller>
    <cacheLifetime>2400</cacheLifetime>

    <meta>
        <title lang="de">Beispiel</title>
        <title lang="en">Example</title>
    </meta>

    <properties>
        <section name="highlight">
            <properties>
                <property name="highlighted_element" type="text_line" mandatory="true">
                    <meta>
                        <title lang="de">Hervorgehobenes Element</title>
                        <title lang="en">Highlighted element</title>
                    </meta>
                </property>
            </properties>
        </section>

        <section name="simple">
            <meta>
                <title lang="de">Einfache Content Typen</title>
                <title lang="en">Simple Contenttypes</title>
            </meta>

            <properties>
                <property name="title" type="text_line" mandatory="true">
                    <meta>
                        <title lang="de">Text Zeile</title>
                        <title lang="en">Textline</title>
                    </meta>

                    <tag name="sulu.search.field" role="title"/>

                    <tag name="sulu.rlp.part"/>
                    <tag name="sulu.search.field" role="description"/>
                </property>

                <property name="highlighted_element" type="text_line" mandatory="true">
                    <meta>
                        <title lang="de">Überschrift</title>
                        <title lang="en">Headline</title>
                    </meta>
                    <params>
                        <param name="headline" value="true"/>
                    </params>

                    <tag name="sulu.highlight"/>
                </property>

                <property name="note" type="text_area">
                    <tag name="sulu.search.field"/>
                    <meta>
                        <title lang="de">Text Bereich</title>
                        <title lang="en">Textarea</title>
                    </meta>
                </property>

                <property name="article" type="text_editor">
                    <meta>
                        <title lang="de">Text Editor</title>
                        <title lang="en">Text editor</title>
                    </meta>

                    <params>
                        <param name="link" value="true"/>
                        <param name="table" value="true"/>
                        <param name="height" value="100"/>
                        <param name="max_height" value="500" />
                        <param name="paste_from_word" value="true"/>
                        <param name="extra_allowed_content" value="img(*)[*]; span(*)[*]; div(*)[*]; iframe(*)[*]; script(*)[*]" />
                    </params>
                </property>

                <property name="phone" type="phone" mandatory="true">
                    <meta>
                        <title lang="de">Telefon Eingabefeld</title>
                        <title lang="en">Telefon input</title>
                    </meta>
                </property>

                <property name="password" type="password" mandatory="false">
                    <meta>
                        <title lang="de">Passwort Eingabefeld</title>
                        <title lang="en">Password input</title>
                    </meta>
                </property>

                <property name="link" type="url">
                    <meta>
                        <title lang="de">Link Eingabefeld</title>
                        <title lang="en">Link input</title>
                    </meta>
                </property>

                <property name="email" type="email" mandatory="false">
                    <meta>
                        <title lang="de">Email Eingabefeld</title>
                        <title lang="en">Email input</title>
                    </meta>
                </property>

                <property name="color" type="color">
                    <meta>
                        <title lang="de">Farb Eingabefeld</title>
                        <title lang="en">Color input</title>
                    </meta>
                </property>

                <property name="date" type="date">
                    <meta>
                        <title lang="de">Datum Eingabefeld</title>
                        <title lang="en">Date input</title>
                    </meta>
                </property>

                <property name="time" type="time">
                    <meta>
                        <title lang="de">Zeit Eingabefeld</title>
                        <title lang="en">Time input</title>
                    </meta>
                </property>

                <property name="checkbox" type="checkbox">
                    <meta>
                        <title lang="de">Checkbox</title>
                        <title lang="en">Checkbox</title>
                    </meta>
                </property>

                <property name="single_link" type="single_internal_link">
                    <meta>
                        <title lang="de">Einzelner Interner Link</title>
                        <title lang="en">Single Internal links</title>
                    </meta>
                </property>
            </properties>
        </section>

        <section name="complex">
            <meta>
                <title lang="de">Komplexe Content Typen</title>
                <title lang="en">Complex Contenttypes</title>
            </meta>

            <properties>
                <property name="url" type="resource_locator">
                    <meta>
                        <title lang="de">Resource Locator</title>
                        <title lang="en">Resource locator</title>
                    </meta>

                    <tag name="sulu.rlp"/>
                </property>

                <property name="snippets" type="snippet">
                    <meta>
                        <title lang="de">Schnipsel wählen</title>
                        <title lang="en">Choose snippet</title>
                    </meta>

                    <params>
                        <param name="snippetType" value="default"/>
                    </params>
                </property>

                <property name="tags" type="tag_list">
                    <meta>
                        <title lang="de">Tag Auswahl</title>
                        <title lang="en">Tag selection</title>
                    </meta>
                </property>
                <property name="categories" type="category_list">
                    <meta>
                        <title lang="de">Kategorien</title>
                        <title lang="en">Categories</title>
                    </meta>
                </property>

                <property name="links" type="internal_links">
                    <meta>
                        <title lang="de">Interne Links</title>
                        <title lang="en">Internal links</title>
                    </meta>
                </property>

                <property name="pages" type="smart_content">
                    <meta>
                        <title lang="de">Smart-Content Seitenauswahl</title>
                        <title lang="en">Smart-Content pages selection</title>
                    </meta>

                    <params>
                        <param name="provider" value="content" />
                        <param name="present_as" type="collection">
                            <param name="6">
                                <meta>
                                    <title lang="de">2 Spalten</title>
                                    <title lang="en">Two columns</title>
                                </meta>
                            </param>
                            <param name="12">
                                <meta>
                                    <title lang="de">1 Spalte</title>
                                    <title lang="de">One column</title>
                                </meta>
                            </param>
                        </param>
                    </params>
                </property>

                <property name="contactSelection" type="contact">
                    <meta>
                        <title lang="de">Kontakte</title>
                        <title lang="en">Contacts</title>
                    </meta>
                </property>

                <property name="contacts" type="smart_content">
                    <meta>
                        <title lang="de">Smart-Content Kontaktauswahl</title>
                        <title lang="en">Smart-Content Contact selection</title>
                    </meta>

                    <params>
                        <param name="provider" value="contact" />
                        <param name="categories_parameter" value="c" />
                        <param name="present_as" type="collection">
                            <param name="6">
                                <meta>
                                    <title lang="de">2 Spalten</title>
                                    <title lang="en">Two columns</title>
                                </meta>
                            </param>
                            <param name="12">
                                <meta>
                                    <title lang="de">1 Spalte</title>
                                    <title lang="de">One column</title>
                                </meta>
                            </param>
                        </param>
                    </params>
                </property>

                <property name="accounts" type="smart_content">
                    <meta>
                        <title lang="de">Smart-Content Organizationsauswahl</title>
                        <title lang="en">Smart-Content Organization selection</title>
                    </meta>

                    <params>
                        <param name="provider" value="account" />
                        <param name="categories_parameter" value="a" />
                        <param name="present_as" type="collection">
                            <param name="6">
                                <meta>
                                    <title lang="de">2 Spalten</title>
                                    <title lang="en">Two columns</title>
                                </meta>
                            </param>
                            <param name="12">
                                <meta>
                                    <title lang="de">1 Spalte</title>
                                    <title lang="de">One column</title>
                                </meta>
                            </param>
                        </param>
                    </params>
                </property>

                <property name="downloads" type="media_selection">
                    <tag name="sulu.search.field" role="image"/>
                    <meta>
                        <title lang="de">Downloads</title>
                        <title lang="en">Downloads</title>
                    </meta>
                </property>

                <property name="images" type="media_selection">
                    <meta>
                        <title lang="de">Bilder</title>
                        <title lang="en">Images</title>
                    </meta>
                    <params>
                        <param name="types" value="image"/>
                    </params>
                </property>

                <property name="multimedia" type="media_selection">
                    <meta>
                        <title lang="de">Video, Audio</title>
                        <title lang="en">Video, Audio</title>
                    </meta>
                    <params>
                        <param name="types" value="video,audio"/>
                    </params>
                </property>

                <property name="location" type="location">
                    <meta>
                        <title lang="de">Ort</title>
                        <title lang="en">Place</title>
                    </meta>
                </property>

                <block name="block"
                       default-type="editor"
                       minOccurs="2"
                       maxOccurs="10">
                    <meta>
                        <title lang="de">Block</title>
                        <title lang="en">Block</title>
                    </meta>

                    <types>
                        <type name="editor">
                            <meta>
                                <title lang="de">Block Typ Editor</title>
                                <title lang="en">Block Type Editor</title>
                            </meta>

                            <properties>
                                <property name="article" type="text_editor">
                                    <meta>
                                        <title lang="de">Artikel</title>
                                        <title lang="en">Article</title>
                                    </meta>
                                </property>
                            </properties>
                        </type>
                        <type name="images">
                            <meta>
                                <title lang="de">Block Typ Editor</title>
                                <title lang="en">Block Type Editor</title>
                            </meta>

                            <properties>
                                <property name="article" type="text_editor">
                                    <meta>
                                        <title lang="de">Artikel</title>
                                        <title lang="en">Article</title>
                                    </meta>
                                </property>
                            </properties>
                        </type>
                        <type name="textarea">
                            <meta>
                                <title lang="de">Block Typ Textarea</title>
                                <title lang="en">Block Type Textarea</title>
                            </meta>

                            <properties>
                                <property name="article" type="text_area">
                                    <meta>
                                        <title lang="de">Artikel</title>
                                        <title lang="en">Article</title>
                                    </meta>
                                </property>
                            </properties>
                        </type>
                        <type name="input">
                            <meta>
                                <title lang="de">Block Typ Eingabefeld</title>
                                <title lang="en">Block Type Input</title>
                            </meta>

                            <properties>
                                <property name="article" type="text_line">
                                    <meta>
                                        <title lang="de">Artikel</title>
                                        <title lang="en">Article</title>
                                    </meta>
                                </property>
                            </properties>
                        </type>
                    </types>
                </block>

                <property name="name" type="text_line" mandatory="false" minOccurs="2" maxOccurs="5">
                    <meta>
                        <title lang="de">Name</title>
                        <title lang="en">Name</title>
                    </meta>
                </property>
            </properties>
        </section>
    </properties>
</template>
