<ul>
    {% for category in categories %}
        <li>
            <a href="{{ sulu_category_url(category) }}">{{ category.name }}</a>
            {% if withChildren is defined and withChildren == true and category.children|length > 0 %}
                {% include "ClientWebsiteBundle:util:sub-categories.html.twig" with {categories: category.children, withChildren: withChildren} %}
            {% endif %}
        </li>
    {% endfor %}
</ul>
