#container {
    width: 800px;
    margin: 10px auto;

    font-family: "courier new", courier;
}

#header {
    padding-top: 25px;
    height: 100px;
    text-align: center;

    border-bottom: dotted 1px;
    padding-bottom: 20px;
}

#navigation {
    width: 150px;
    float: left;
    margin-top: 10px;
}

#content {
    border-left: dotted 1px;
    margin-top: 10px;
    padding-left: 25px;
    width: 620px;
    float: right;
}

#footer{
    border-top: dotted 1px;
    padding-top: 20px;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}
